*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.imagen-adaptable{
    max-width: 100%;
    height: 25vh;
}
.contenedor-fotos{
    width: 40%;
    overflow: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-color: lightgrey;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgrey;
}