*{
    box-sizing: border-box;
    text-align: center;
}
.formulario{
    display: flex;
    justify-content: center;
    margin: auto;
}
.imagen-adaptable{
    max-width: 100%;
    height: 25vh;
}
.contenedor{
    width: 100%;
    overflow: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-color: lightgrey;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgrey;
}